.neta-futurx-services {
  --color: #303a75;
  --rgb: 40, 87, 255;
  margin-top: 0;
  margin-bottom: 60px;
  padding-top: 0;
  position: relative;
  z-index: 1;
  overflow: clip;
}

.neta-futurx-services::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(var(--rgb), 0.1),
    transparent
  );
  transition: opacity 960ms;
  will-change: opacity;
}

.neta-futurx-services.visible::after {
  opacity: 0.8;
}

.neta-futurx-services .work-list_component {
  position: relative;
  z-index: 1;
}

.neta-futurx-services .light-bar {
  pointer-events: none;
  user-select: none;
  --first: conic-gradient(from 90deg at 80% 50%, #000212, var(--color));
  --second: conic-gradient(from 270deg at 20% 50%, var(--color), #000212);
  opacity: 0.4;
  width: 100%;
  height: 400px;
  margin-bottom: -400px;
  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );
  mask-image: radial-gradient(100% 50% at center center, black, transparent);
  background: var(--first), var(--second);
  background-position: 0 0, 100% 0;
  background-size: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  transform: translateY(-200px) rotate(180deg) translateZ(0);
  transition: transform 0.96s, opacity 0.96s;
}

.neta-futurx-services.visible .light-bar {
  opacity: 1;
  transform: translateY(-200px) rotate(180deg) scale(2) translateZ(0);
}

.neta-futurx-services .work-list_head {
  position: relative;
  z-index: 1;
}

.neta-futurx-services .feature-subheading {
  color: #111111;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 72rem;
  margin: 48px auto 0;
  padding-left: 5%;
  padding-right: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  text-wrap: balance;
}

.neta-futurx-services .card_content-wrap {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.neta-futurx-services .text-size-tiny {
  font-size: 0.75rem;
}

.neta-futurx-services .text-size-tiny.text-color-secondary {
  color: #45abc8;
}

.neta-futurx-services .text-size-regular {
  font-size: 1rem;
}

.neta-futurx-services .text-size-regular.text-color-primary {
  color: #bcbcbc;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.neta-futurx-services .heading-style-h3.text-color-primary {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.neta-futurx-services .card-right {
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
}

.neta-futurx-services .hero_card-wrapper {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 80px;
  top: 0;
}

.neta-futurx-services .card-left {
  width: 50%;
  height: 100%;
}

.neta-futurx-services .img-card {
  aspect-ratio: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.neta-futurx-services .stacking-card {
  background-color: #010102;
  border: 1px solid #454b02;
  border-radius: 18px;
  justify-content: center;
  align-items: flex-start;
  width: 850px;
  height: 341px;
  display: flex;
  position: sticky;
  overflow: hidden;
  box-shadow: 0 -8px 20px 1px #fff3;
}

.neta-futurx-services .stacking-card.is--first {
  box-shadow: none;
  pointer-events: auto;
  cursor: pointer;
  background-color: #00021200;
  border: 1.4px solid #ffffff29;
  width: 80vw;
  height: 70vh;
  margin-bottom: 5rem;
  top: 10rem;
}

.neta-futurx-services .stacking-card.is--second {
  box-shadow: none;
  cursor: pointer;
  background-color: #000212;
  border: 1.4px solid #ffffff29;
  width: 80vw;
  height: 70vh;
  margin-bottom: 4rem;
  top: 11rem;
}

.neta-futurx-services .stacking-card.is--third {
  box-shadow: none;
  cursor: pointer;
  background-color: #000212;
  border: 1.4px solid #ffffff29;
  width: 80vw;
  height: 70vh;
  margin-bottom: 3rem;
  top: 12rem;
}

.neta-futurx-services .stacking-card.is--fourth {
  box-shadow: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
  background-color: #000212;
  border: 1.4px solid #ffffff29;
  width: 80vw;
  height: 70vh;
  margin-bottom: 2rem;
  top: 13rem;
}

.neta-futurx-services .link-block {
  position: absolute;
  inset: 0;
}

@media screen and (min-width: 1440px) {
  .neta-futurx-services .stacking-card.is--first,
  .neta-futurx-services .stacking-card.is--second,
  .neta-futurx-services .stacking-card.is--third,
  .neta-futurx-services .stacking-card.is--fourth {
    width: 90vw;
  }
}

@media screen and (max-width: 991px) {
  .neta-futurx-services .stacking-card.is--first,
  .neta-futurx-services .stacking-card.is--second,
  .neta-futurx-services .stacking-card.is--third,
  .neta-futurx-services .stacking-card.is--fourth {
    width: 85vw;
  }
}

@media screen and (max-width: 767px) {
  .neta-futurx-services {
    padding-top: 0;
  }

  .neta-futurx-services .feature-subheading {
    font-size: 24px;
    margin-top: 36px;
  }
}

@media screen and (max-width: 479px) {
  .neta-futurx-services .text-size-regular.text-color-primary {
    font-size: 0.8rem;
    line-height: 1.2em;
  }

  .neta-futurx-services .card-right {
    width: 100%;
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .neta-futurx-services .hero_card-wrapper {
    margin-top: 48px;
  }

  .neta-futurx-services .card-left {
    width: 100%;
    height: 50%;
  }

  .neta-futurx-services .stacking-card.is--first,
  .neta-futurx-services .stacking-card.is--second,
  .neta-futurx-services .stacking-card.is--third {
    box-shadow: none;
    background-color: #010313;
    border-color: #ffffff29;
    flex-flow: column;
    width: 90vw;
    height: 70vh;
  }

  .neta-futurx-services .stacking-card.is--fourth {
    box-shadow: none;
    background-color: #010313;
    border-width: 1.4px;
    border-color: #ffffff29;
    flex-flow: column;
    width: 90vw;
    height: 70vh;
  }
}
